<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="message">
            <h2><span>Message</span> {{message.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Content</span></dt>
                <dd>
                    <span>{{message.content}}</span>
                </dd>
                <dt><span>Sender</span></dt>
                <dd>
                    <div *ngIf="message.senderId">
                        <a [routerLink]="['/participant', message.senderId, 'view']">{{message.senderId}}</a>
                    </div>
                </dd>
                <dt><span>Receiver</span></dt>
                <dd>
                    <div *ngIf="message.receiverId">
                        <a [routerLink]="['/participant', message.receiverId, 'view']">{{message.receiverId}}</a>
                    </div>
                </dd>
                <dt><span>Conversation</span></dt>
                <dd>
                    <div *ngIf="message.conversationId">
                        <a [routerLink]="['/conversation', message.conversationId, 'view']">{{message.conversationId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/message', message.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
